.is-flex {
  display: flex;
}
.is-block {
  display: block;
}

.is-inlineflex {
  display: inline-flex;
}

.is-absolute {
  position: absolute;
}

.is-fixed {
  position: fixed;
}

.is-relative {
  position: relative;
}

.is-sticky {
  position: relative;
  position: sticky;
  top: 0;
}

.is-hidden {
  &-desktop {
    @include desktop {
      display: none !important;
    }
  }
  &-tablet {
    @include tablet-only {
      display: none !important;
    }
  }
  &-touch {
    @include touch {
      display: none !important;
    }
  }
}

.is-column {
  $colNumber: 12;
  @for $i from 1 through $colNumber {
    $v: $i / $colNumber * 100%;

    &.is-#{$i} {
      width: $v;
    }

    &.is-#{$i}-touch {
      @include touch {
        width: $v;
      }
    }

    &.is-#{$i}-phone {
      @include phone {
        width: $v;
      }
    }

    &.has-mr-#{$i} {
      margin-right: calc(var(--padding) * #{$i});
    }

    &.has-mb-#{$i} {
      margin-bottom: calc(var(--padding) * #{$i});
    }

    &.has-ml-#{$i} {
      margin-left: calc(var(--padding) * #{$i});
    }

    &.has-pr-#{$i} {
      padding-right: calc(var(--padding) * #{$i});
    }

    &.has-pl-#{$i} {
      padding-left: calc(var(--padding) * #{$i});
    }
  }
}
