.has-width-100 {
  width: 100%;
}

.has-height-100 {
  height: 100%;
}

.has-fontsize-14 {
  font-size: 0.875em;
}

.has-fontsize-20 {
  font-size: 1.25em;
}

.has-fontsize-24 {
  font-size: 1.5em;
}

.has-fontsize-32 {
  font-size: 2em;
}

.has-fontsize-48 {
  font-size: 3em;
}

.has-fontsize-64 {
  font-size: 4em;
}
