.is-uppercase {
  text-transform: uppercase;
}

.has-text-center {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

.is-light {
  font-weight: 300;
}
