# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*

# Lock files
# ---------------
.lock

# Editors
# ---------------
*.sublime-project
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

content/*

# License
# ---------------
/site/config/.license
node_modules

dist/*
!dist/fonts

site/config/