:root {
  --vh: 1vh;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-darkgrey: #171717;
  --color-grey: #bbbbbb;
  --color-lightgrey: #dfdfdf;
  --font-family: 'good_sansregular', Helvetica, Arial;

  --bezier-in-out: cubic-bezier(0.76, 0, 0.39, 0.99);
  --speed: 500ms;

  --padding: 5rem;
}
