.About {
  .is-main-title {
    margin-top: 0;

    @include phone {
      font-size: 2.4rem;
    }
  }

  &__cover {
    height: vh(100);
    overflow: hidden;

    &--content {
      z-index: zindex(section);
    }

    &--picture {
      z-index: zindex(base);
    }

    picture,
    picture img {
      @include object-fit;
      padding-top: 0 !important;
    }

    &--link {
      margin: 0 auto;
    }

    .is-link {
      margin-right: 3.5rem;
    }

    .icon {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  &__introduction {
    p {
      margin-bottom: 1em;
      @include touch {
        font-size: 1.8rem;
      }
    }

    &--first {
      @include phone {
        padding-right: var(--padding);
      }
    }

    &--second {
      @include phone {
        padding-left: 0 !important;
      }
    }

    &--title p {
      font-size: 4rem;
      margin: calc(var(--padding) * 2) 0 var(--padding) 0;

      @include touch {
        font-size: 2.4rem;
      }
    }
  }

  &__services {
    background: var(--color-darkgrey);
    padding: 13rem 0;

    @include touch {
      padding: 10em 0;
    }

    &--number {
      width: 1.5em;
    }

    &--title {
      @include touch {
        font-size: 4.8rem;
      }
      @include phone {
        font-size: 2.4rem;
      }
    }

    &--btn {
      padding: 3rem 0;
      border-bottom: 0.1rem solid rgba(#fff, 0.3);

      @include phone {
        padding: 2rem 0;
      }
    }

    &--content {
      overflow: hidden;
      height: 0;
    }

    &--text {
      padding: 1em 0;
    }
  }

  &__conclusion {
    &--content {
      margin: 15rem 0;
      @include touch {
        margin: 10em 0;
      }
    }

    &--link {
      margin-top: 0.5em;
      margin-left: auto;
      margin-right: auto;

      @include phone {
        font-size: 2.4rem;
        width: 24rem;
      }
    }
  }
}
