.About {
  .is-main-title {
    margin-top: 0;
    padding-top: 0;

    @include phone {
      font-size: 2.4rem;
    }
  }

  &__showreel {
    z-index: zindex(aboveloader);
    pointer-events: none;
    transition: clip-path var(--speed) var(--bezier-in-out);
    background: var(--color-black);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);

    .container {
      transform: translateY(0.4em) scaleY(1.4);
      transition: opacity var(--speed) calc(var(--speed) * 0.25) var(--bezier-in-out),
        transform var(--speed) var(--bezier-in-out);
      transform-origin: top center;
      opacity: 0;
    }

    &.is-active {
      pointer-events: auto;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      .container {
        transform: translateY(0) scaleY(1);
        opacity: 1;
      }
    }

    button {
      right: var(--padding);
      top: calc(2 * var(--padding));
    }
  }

  &__cover {
    height: vh(100);
    overflow: hidden;

    &--content {
      z-index: zindex(section);
    }

    &--picture {
      z-index: zindex(base);
    }

    picture,
    video,
    picture img {
      @include object-fit;
      padding-top: 0 !important;
    }

    &--link {
      margin: 0 auto;
    }

    .is-link {
      margin-right: 3.5rem;
    }

    .icon {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  &__introduction {
    @include phone {
      overflow: hidden;
    }
    p {
      margin-bottom: 1em;
      @include touch {
        font-size: 1.8rem;
      }
    }

    &--first {
      padding: calc(var(--padding) * 4) 0;

      @include phone {
        padding-right: var(--padding);
      }
    }

    &--second {
      @include phone {
        padding-left: 0 !important;
      }

      picture {
        @include desktop {
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% - var(--padding));
          margin-left: var(--padding);
          margin-top: calc(var(--padding) * 3);
        }
      }
    }

    &--title p {
      font-size: 4rem;
      margin: 0 0 var(--padding) 0;

      @include touch {
        font-size: 2.4rem;
      }
    }
  }

  &__services {
    background: var(--color-darkgrey);
    padding: 20rem 0;

    @include touch {
      padding: 10em 0;
    }

    &--number {
      width: 1.5em;
    }

    &--title {
      @include touch {
        font-size: 4.8rem;
      }
      @include phone {
        font-size: 2.4rem;
      }
    }

    &--btn {
      cursor: pointer;
      padding: 3rem 0;
      border-bottom: 0.1rem solid rgba(#fff, 0.3);

      @include phone {
        padding: 2rem 0;
      }
    }

    &--content {
      overflow: hidden;
      height: 0;
    }

    &--text {
      padding: 1em 0;
    }

    img {
      transition: transform var(--speed) var(--bezier-in-out);
      transform-origin: center center;
    }

    li.is-active img {
      transform: rotate(180deg);
    }
  }

  &__conclusion {
    &--content {
      margin: 15rem 0;
      @include touch {
        margin: 10em 0;
      }
    }

    &--link {
      margin-top: 0.5em;
      margin-left: auto;
      margin-right: auto;

      @include phone {
        font-size: 2.4rem;
        width: 24rem;
      }
    }
  }
}

body:not(.is-loading-end) {
  .About__cover--link,
  .About__conclusion--link {
    transition: opacity var(--speed) var(--bezier-in-out);

    &:hover {
      opacity: 0.6 !important;
      .is-link::after {
        left: 100%;
        width: 0;
      }
    }
  }
}
