.Contact {
  &__description {
    line-height: 1.56em;
  }

  &__row {
    margin-top: calc(var(--padding) * 1.5);
  }

  h2 {
    margin-bottom: 1rem;
  }

  ul li {
    margin: 0 var(--padding) var(--padding) 0;
  }
}
