.Home {
  &__menu {
    bottom: calc(var(--padding) * 2);
    left: 0;
    right: 0;
    z-index: zindex(section);

    &--item {
      padding-right: 1em;

      @include phone {
        padding-top: 1em;
      }
    }

    &--link {
      padding-bottom: 1.25em;
      border-bottom: 0.2rem solid rgba(#fff, 0.4);
    }

    &--border {
      background: var(--color-white);
      height: 0.2rem;
      bottom: -0.2rem;
      position: absolute;
      width: 50%;
    }

    &--title {
      margin-top: 0.25em;
    }
  }

  &__background {
    z-index: zindex(base);

    picture,
    img {
      @include object-fit;
      padding-top: 0 !important;
    }
  }
}
