.Project {
  margin-top: 19.2rem;

  &__title {
    margin: calc(var(--padding) * 2) 0 var(--padding);
  }
  &__specs {
    margin: calc(var(--padding) * 2) 0 var(--padding);
  }

  &__spec {
    margin-bottom: var(--padding);
    padding-right: var(--padding);

    &--title {
      margin-bottom: 1rem;
      @include phone {
        margin-bottom: 0.5rem;
      }
    }

    @include touch {
      margin-bottom: var(--padding);
    }
  }

  &__projects {
    margin: 0 calc(-0.25 * var(--padding));

    &--item {
      padding: 0 calc(0.25 * var(--padding));
      margin-bottom: var(--padding);
    }

    a {
      height: 30vw;

      @include phone {
        height: 40vh;
      }
    }
    picture {
      opacity: 0.6;
    }

    picture,
    picture img {
      @include object-fit;
      padding-top: 0 !important;
    }
  }
}
